body {
    margin: 0;
    width: 100%;
    height: 100%;
    color: #222;
    background-image: url("https://hacks.skytemple.org/static/splash.jpg");
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    letter-spacing: 0.02rem;
}

.wrapper {
    margin: 0 auto;
    width: 620px;
    max-width: 90%;
}

.background {
    margin-top: 80px;
    background: rgb(255, 255, 255, 0.8);
    border-radius: 16px;
    padding: 16px 32px;
}

h1 {
    text-align: center;
}

h3 {
    margin: 12px 0;
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

label {
    width: 220px;
    margin-right: 8px;
}

input[type="file"] {
    background-color: #eeeeeeb3;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    width: 300px;
    font-family: inherit;
    font-weight: 300;
    font-size: 1rem;
    display: flex;
    align-items: center;
    vertical-align: middle;
    letter-spacing: inherit;
}

label:hover,
input[type="file"]:hover {
    cursor: pointer;
}

input[type="file"]:hover,
input[type="file"]:focus,
input[type="file"]:active {
    background-color: #dfddd9;
}

#loaded-rom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.rom-name-and-remove {
    background-color: #eeeeeeb3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    border-radius: 4px;
    padding-left: 16px;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 16px;
}

.button-container.spaced {
    justify-content: space-between;
}

button {
    background-color: #dbb460;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    letter-spacing: 0.02em;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    vertical-align: middle;
    gap: 5px;
}

button:hover,
button:active,
button:focus {
    background-color: #c5901f;
}

button[disabled] {
    background-color: rgba(223, 221, 217, 0.7);
    cursor: not-allowed;
}

a {
    color: #c5901f;
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    text-decoration: underline;
}

.apply-button {
    margin-top: 20px;
}

.error a {
    color: #e9dcc8;
}

.error {
    background-color: red;
    color: white;
    padding: 16px;
    border-radius: 4px;
}

.error:empty {
    display: none;
}

.hidden {
    display: none !important;
}

.external-link {
    display: flex;
    align-items: center;
}

.external-link span {
    font-size: 1rem;
}

#player-container {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#player {
    transform: scale(1.0);
    width: 256px;
    image-rendering: pixelated;
}

.controls {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 8px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.controls button {
    position: relative;
    background: none;
    padding: 12px;
    border-radius: 0;
}

.controls button:last-child {
    border-bottom-right-radius: 8px;
}

.controls button:hover,
.controls button:focus,
.controls button:active {
    background-color: rgba(255, 255, 255, 0.2);
}

@media (min-height: 605px) {
    #player {
        transform: scale(1.5);
    }
}

@media (min-height: 800px) {
    #player {
        transform: scale(2.0);
    }
}

@media (min-height: 995px) {
    #player {
        transform: scale(2.5);
    }
}

@media (min-height: 1190px) {
    #player {
        transform: scale(3.0);
    }
}

@media (min-height: 1385px) {
    #player {
        transform: scale(3.5);
    }
}

@media (min-height: 1560px) {
    #player {
        transform: scale(4.0);
    }
}

.settings-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(8px);
    padding: 16px 32px;
    border-radius: 16px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.settings-menu button {
    padding: 8px 16px;
}

.settings-menu .input-wrapper {
    margin-bottom: 4px;
}

.settings-menu .close-button,
.close-button,
.close-button:disabled {
    background: none;
    border: none;
    padding: 8px;
    color: black;
}

.close-button-absolute {
    position: absolute;
    top: 8px;
    right: 8px;
}

.settings-menu .close-button:hover,
.settings-menu .close-button:focus,
.settings-menu .close-button:active,
.close-button:hover,
.close-button:focus,
.close-button:active {
    background-color: rgba(0, 0, 0, 0.1);
}

#save-info {
    margin: 16px 0;
}

#save-info p {
    margin: 2px 0;
}